<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" href="C:/Users/user/demo/firstproject/firstproject/static/css/b2w.css"  type="text/css">

<title>B2W</title>


<body>
<h1>Image Colorization</h1>

<p>Colorizing images has become more than an art technique and 
is now a real-world application, as more people continue to add
extra details in their images. More costly, hectic and time-consuming
methods of colorization have now been replaced with advanced technologies
such as machine learning solutions.These may not be rendered as optimal 
solutions, but they offer impressive results.</p>

<p>Colorize photo with B2W Colorizer.And turn any black and white
photos to color using deep learning. With our image colorizer, you 
can colorize old pictures of family, historic figures, ancestors, 
films, and more. Fix yellow tint of vintage photos automatically 
with our new color correction feature. Enhance face and more 
details in old photos automatically with our customizable AI features.</p>
<a href="#" id="button" class="button">Upload Image</a>
<script src="C:Users/user/demo/firstproject/firstproject/static/js/b2w.js"></script>
<div class="bg-modal">
    <div class="modal-content">
        <div class="close">+</div>
        <img src="C:Users/user/demo/firstproject/firstproject/media/sample.jpg" alt="">
        <form action="/action_page.php">
            <input type="file" id="myFile" name="filename">
            <input type="submit">
        </form>
    </div>
</body>
</head>
</html>